# Flutter / Dart
.dart_tool/
.packages
build/
.pub-cache/


# Android
android/.gradle/
android/build/
android/app/build/

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/build/

# VSCode / IntelliJ
.vscode/
.idea/
.vs/

# Windows
*.exe
*.dll
*.pdb
*.cache